@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Task1</h1>
    <p>Створив Волошин Кирилло Андрійович</p>
    <p>Группа K19-3</p>
</div>
